version: '3.9'

services:

  # Production server (served via Nginx)
  prod:
    build:
      context: .
      target: production
    ports:
      - "80:80"
    environment:
      - VITE_DWANI_API_KEY=${VITE_DWANI_API_KEY}
    restart: unless-stopped
